@font-face {
  font-family: 'Brown Light';
  src: url('../fonts/Brown-Light.eot');
  src: url('../fonts/Brown-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Brown-Light.woff') format('woff'),
  url('../fonts/Brown-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
  
  @font-face {
  font-family: 'Brown Regular';
  src: url('../fonts/Brown-Regular.eot');
  src: url('../fonts/Brown-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Brown-Regular.woff') format('woff'),
  url('../fonts/Brown-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
 
  @font-face {
  font-family: 'Brown Bold';
  src: url('../fonts/Brown-Bold.eot');
  src: url('../fonts/Brown-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Brown-Bold.woff') format('woff'),
       url('../fonts/Brown-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
   
